* {
    margin: 0%;
    padding: 0%;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}
.container{
    text-align: center;
    background: black;

}

header {
    width: 100%;
    height: 10vh;
  }
  
  nav {
    background:rgb(3, 3, 3);
    display: flex;
    width: 100%;
    height: 10vh;
    align-items: center;
  }
  
  .logo {
    width: 20%;
    padding-left: -30px;
    color: white;

  }
  .list-items {
    display: flex;
    list-style: none;
    width: 50%;
    justify-content: space-around;
  }
  
  .link {
    text-decoration: none;
    font-weight: bold;
    color: white;
    font-size: 13px;
    transition: 0.4s;
  }
  
  .link:hover {
    color: #4bb19b;
  }
  
  .nav-btns {
    width: 30%;
    font-size: 20px;
  }
  
  .btn-nav-i {
    color: white;
    float: right;
    padding-right: 20px;
    transition: 0.4s;
  }
  
  .btn-nav-i:hover {
    color:#4bb19b;;
  }
  
  .main {
    background: black;
    position: relative;
    height: 90vh;
    width: 100%;
  }
  .main-left {
    position: absolute;
    top: 0;
    height: 100%;
    width: 65%;
  }

  
  .main-right img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    animation: animation 5s forwards;
    animation-delay: 1s;
    opacity: 0;
  
  }
  
  .social-media {
    position: absolute;
    height: 100%;
    width: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
  }
  .social-media::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 30%;
    background: white;
    top: 20px;
  }
  .social-media::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 30%;
    background: white;
    bottom: 20px;
  }
  
  .s-btn {
    color: white;
    margin-top: 20px;
    transition: 0.4s;
    font-size: 20px;
  }

.container h1{
    align-items: center;
}
.sb-container{
    max-width: 1200px;
    margin: auto;
    padding: 48px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: black;
}
.teams{
    margin: 10px;
    padding: 22px;
    max-width: 30%;
    cursor: pointer;
    transition: 0.4s;
    box-sizing: border-box;
}
.teams:hover{
    background:#4bb19b;
    border-radius: 12px;

}
.teams img{
    width: 200px;
    height: 200px;
}
.name{
    padding: 12px;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    color: white;
}
.design{
    font-style:initial;
    color: darkgrey;
}
.about{
    margin: 20px 0;
    font-weight: lighter;
    color: white;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto-Condensed;
  }
  .footer-container{
    background-color: grey;
    padding: 2rem 0 4rem 0;
  }
  .footer{
    width: 90%;
    height:40vh;
    background-color: grey;
    color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  .footer-heading{
    display: flex;
    flex-direction: column;
    margin-right: 4rem;
  }
  .footer-heading h2{
    margin-bottom: 2rem;
  }
  .footer-heading a{
    color: white;
    text-decoration: none;
    margin-bottom: 0.5rem;
  }
  .footer-heading a:hover{
    color: #4bb19b;
    transition: 0.3s ease-out;
  }
  .footer-email-form h2{
    margin-bottom: 2rem;
  }
  #footer-email{
    width: 300px;
    height: 40px;
    border-radius: 4px;
    outline: none;
    border: none;
    padding-left: 0.5rem;
    font-size: 1rem;
    margin-bottom:1rem;
  
  }
  #footer-email::placeholder{
    color: grey;
  }
  #footer-email-btn{
    width: 100px;
    height: 40px;
    border-radius: 4px;
    background-color: #4bb19b;
    outline: none;
    border: none;
  color: white;
    font-size: 1rem;
  
  }
  #footer-email-btn:hover{
  cursor:pointer;
  background-color:lightgray;
  transition: all 0.4s ease-out;
  }
  @media screen and(max-width:1150px) {
    .footer{
      height:50vh;
    }
    .footer-email-form{
      margin-top: 4rem;
    }
  }
  
  @media screen and(max-width:280px) {
    .footer{
      padding-top: 2rem;
    }
  }
  @media screen and(max-width:1150px) {
    .footer{
      height: 50vh;
    }
    .footer-email-form{
      margin-top: 4rem;
    }
  }
  
  #container {
    display: flex;
    justify-content: space-between; 
  }
  .item {
    display: block;
  }      
