* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    background-color: black;
  }
  
  header {
    width: 100%;
    height: 100vh;
  }
  
  nav {
    background:rgb(3, 3, 3);
    display: flex;
    width: 100%;
    height: 10vh;
    align-items: center;
  }
  
  .logo {
    width: 20%;
    padding-left: -30px;
    color: white;

  }
  .list-items {
    display: flex;
    list-style: none;
    width: 50%;
    justify-content: space-around;
  }
  
  .link {
    text-decoration: none;
    font-weight: bold;
    color: white;
    font-size: 13px;
    transition: 0.4s;
  }
  
  .link:hover {
    color: #4bb19b;
  }
  
  .nav-btns {
    width: 30%;
    font-size: 20px;
  }
  
  .btn-nav-i {
    color: white;
    float: right;
    padding-right: 20px;
    transition: 0.4s;
  }
  
  .btn-nav-i:hover {
    color:#4bb19b;;
  }
  
  .main {
    /*background: black;*/
    position: relative;
    height: 90vh;
    width: 100%;
  }

  
  .main-right img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    animation: animation 5s forwards;
    animation-delay: 1s;
    opacity: 0;
  
  }
  
  .social-media {
    position: absolute;
    height: 100%;
    width: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
  }
  .social-media::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 30%;
    background: white;
    top: 20px;
  }
  .social-media::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 30%;
    background: white;
    bottom: 20px;
  }
  
  .s-btn {
    color: white;
    margin-top: 20px;
    transition: 0.4s;
    font-size: 20px;
  }
  
  .s-btn:hover {
    color: #4bb19b;
  }
  
  .banner {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .f-text h1 {
    text-align: center;
    font-size: 4rem;
    letter-spacing: 0.5rem;
    color: white;
  }
  .f-text span {
    color: #4bb19b;
  }
  
  .btn {
    margin-top: 20px;
    text-decoration: none;
    color: white;
    border: solid 1px white;
    padding: 20px 40px;
    transition: 0.4s;
  }
  
  .btn:hover {
    background: #4bb19b;
  }


  .heading{
    color: black;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    padding: 15px;

  }

  .bg-colour{
    background-color: black;
  }


  .form {
    display: flex;
    justify-content: center;
    background: white;
    height: 500px;
    width: 370px;
    margin: 50px auto 100px;
    padding: 70px;
    text-align: center;
    box-shadow: 5px 5px #4bb19b;
  }

  .form input {
    font-family: sans-serif;
    outline: 0;
    background: whitesmoke;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 20px;
    font-size: 14px;
  }

  .form button {
    font-family: sans-serif;
    outline: 0;
    background: #4bb19b ;
    width: 20vh;
    border: 0;
    border-radius: 20px;
    padding: 12px;
    color: white;
    font-size: 11px;
    cursor: pointer;
  }

  .footer-container{
    background-color: grey;
    padding: 2rem 4rem 0;
    font-family: sans-serif;
  }
  
  .footer{
    width: 90%;
    height:30vh;
    background-color: grey;
    color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  
  .footer-heading{
    display: flex;
    flex-direction: column;
    margin-right: 4rem;
  }
  
  .footer-heading h2{
    margin-bottom: 2rem;
  }
  
  .footer-heading a{
    color: white;
    text-decoration: none;
    margin-bottom: 0.5rem;
  }
  
  .footer-heading a:hover{
    color: #4bb19b;
    transition: 0.3s ease-out;
  }
  
  .footer-email-form h2{
    margin-bottom: 2rem;
  }
  
  #footer-email{
    width: 300px;
    height: 40px;
    border-radius: 4px;
    outline: none;
    border: none;
    padding-left: 0.5rem;
    font-size: 1rem;
    margin-bottom:1rem;
  
  }
  
  #footer-email::placeholder{
    color: grey;
  }
  
  #footer-email-btn{
    width: 100px;
    height: 40px;
    border-radius: 4px;
    background-color: #4bb19b;
    outline: none;
    border: none;
    color: white;
    font-size: 1rem;
  
  }
  
  #footer-email-btn:hover{
    cursor:pointer;
    background-color:lightgray;
    transition: all 0.4s ease-out;
  }
  
  @media screen and(max-width:1150px) {
    .footer{
      height:50vh;
    }
    .footer-email-form{
      margin-top: 4rem;
    }
  }
  
  @media screen and(max-width:280px) {
    .footer{
      padding-top: 2rem;
    }
  }
  @media screen and(max-width:1150px) {
    .footer{
      height: 50vh;
    }
    .footer-email-form{
      margin-top: 4rem;
    }
  }
  
  #container {
    display: flex;
    justify-content: space-between; 
  }
  .item {
    display: block;
  }