/* Initial configuration */
body { margin: 0px; padding: 0px; }
div { padding: 5px; }

#row-1-col-1 { grid-area: row-1-col-1; }
#row-1-col-2 { grid-area: row-1-col-2; text-align: center; }
#row-1-col-3 { grid-area: row-1-col-3; }
#row-2 { grid-area: row-2; }
#row-3-col-1 { grid-area: row-3-col-1; }
#row-3-col-2 { grid-area: row-3-col-2; }
#row-4 { grid-area: row-4; }

#container > * { 
    overflow: hidden; 
}

#container {
    /* background-color: black;
    color: white; */
    margin: 0 auto;
    display: grid;
    width: 80em;
    grid-template-columns: 2fr 3fr 16fr 3fr;
    grid-template-areas: 
        'row-1-col-1 row-1-col-2 row-1-col-2 row-1-col-3'
        'row-2 row-2 row-2 row-2'
        'row-3-col-1 row-3-col-1 row-3-col-2 row-3-col-2'
        'row-4 row-4 row-4 row-4';
    grid-auto-rows: auto;
}

/* General styling */
* {
    background-color: black;
    color: white; 
    font-family: sans-serif;
}
a { text-decoration: none; background-color: none; }

/* Style grid items */
#row-1-col-1 > img { width: 100%; height: auto; }
#row-1-col-2 {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    padding: 0 8em;
}
#row-1-col-2 > h1 { display: inline-block; }

#row-3-col-1 {
    display: flex;
    flex-direction: column;
}
#row-3-col-1 span {  
    display: flex;
    justify-content:center;
    align-items: center;
}

#row-3-col-1 img {
    padding: 10px;
    width: 30%;
    aspect-ratio: 4/3;
}

table { border-spacing: 5px; table-layout: auto; width: 100%; }
th, td {
    border-bottom: 1px solid #ddd;
}
th { background-color: #f2f2f2; }
th * { color: white; text-decoration: none; background-color: transparent; }
th a:hover { color: #4bb19b; }
td a { color: white; text-decoration: none; }

.sort-sym { width: 16px; height: 16px; }

