/* Initial configuration */
body { margin: 0px; padding: 0px; }
div { padding: 5px; }

#row-1-col-1 { grid-area: row-1-col-1; }
#row-1-col-2 { grid-area: row-1-col-2; text-align: center; }
#row-1-col-3 { grid-area: row-1-col-3; }
#row-2 { grid-area: row-2; }
#row-3 { grid-area: row-3; }
#row-4 { grid-area: row-4; }

#container > * { 
    overflow: hidden; 
}

#container {
    /* background-color: black;
    color: white; */
    margin: 0 auto;
    display: grid;
    width: 80em;
    grid-template-columns: 2fr 3fr 16fr 3fr;
    grid-template-areas: 
        'row-1-col-1 row-1-col-2 row-1-col-2 row-1-col-3'
        'row-2 row-2 row-2 row-2'
        'row-3 row-3 row-3 row-3'
        'row-4 row-4 row-4 row-4';
    grid-auto-rows: auto;
}

/* General styling */
* {
    background-color: black;
    color: white; 
    font-family: sans-serif;
}
a { text-decoration: none; }

.long-field { width: 100%; }

/* Style grid items */
#row-1-col-1 > img { width: 100%; height: auto; }
#row-1-col-2 {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    padding: 0 8em;
}
#row-1-col-2 > h1 { display: inline-block; }

#row-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#row-3 > div {
    width: 55em;
}
#row-3 img {
    width: 100%;
    aspect-ratio: 4/3;
}

#product-gallery { grid-area: product-gallery; }
#product-selected-image { grid-area: product-selected-image; }

#product-attributes { grid-area: product-attributes; }
.star { max-width: 16px;}

#product-stage {
    display: grid;
    grid-template-columns: 1fr 4fr 2fr;
    grid-template-areas:
        'product-gallery product-selected-image product-attributes';
    grid-column-gap: 1em;
}